body {
  background: #ECF0F1;

}

hr {
  width: 50%;
  height: 1px;
  background-color: black;
}

.header{
  margin-left:20%;
  margin-right: 20%;

}
.logo{

  font-size: 24pt;
  font-weight: bold;

}
.rightHeader{
  float:left;
  position: relative;

}
.searchComponent{
  float:right;
  margin-left: 10;
  margin-right: 0;
  background-color:white;
  border-radius: 30px;
  height: 25px;
  display: inline-block;
    position: relative;
}
.contentBody{
  background-color: black;


}
.tabBar{
  margin-right: 20px;
}
.tabBar .active{
  margin-right: 20px;
  font-weight: bold;
}
.contentArticle{
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}
.buttonSearch{
  width: 25px;
  height: 25px;
}
.searchBar{
  border:none;
  margin-left: 10px;
}
.articleImage{
  width:100%;
}
.articleTitle{
  font-size: 16pt;
  font-weight: bold;

}
.articleDetail{
  font-size: 14pt;

}
.readMore{
  text-decoration: underline;
  font-size: 12pt;
  color:#2CB99D;
}
.cArticle{
  transition: background-color 0.5s ease;

}
.cArticle:hover{
  background-color: green;
}
.author{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;

}